<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Practica 3</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/unl.png')}}" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<!-- body -->

<body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li> <a href="/home">Home</a> </li>
                                            <li> <a href='/casinos'>Casinos</a> </li>
                                            <li> <a href='/casinos/buscar'>Buscar</a> </li>
                                            <li> <a href='/casinos/ordenar'>Ordenar</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- loader  -->
    {% block content %}
    <!-- Aquí empieza el contenido que quieres que sea dinámico en las plantillas hijo -->
    {% endblock %}

            <!-- end header -->
            <section class="slider_section">
                <div class="banner_main">

                    <div class="container">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-bg">
                                    <h1>Welcome to  <br> <strong class="b_bold">Practica 3 </strong></h1>
                                    <span>Implementación de metodos de Floy y Dijkstra para un negocio de casinos.</span>
                                    <a href="#">Contact Us</a> <a href="/casinos">Empezar</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text-img">
                                    <figure><img src="{{url_for('static',filename = 'images/img.png')}}" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        </div>
        </div>
    </header>
    <!-- our how_it -->
   
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{ url_for ('static', filename = 'js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename = 'js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

</body>

</html>